body {
    font-family: Arial, Helvetica, sans-serif 
}

.container-outer {
    border: 1px;
    padding: 0px;
    width: auto;
    padding: 2px;
    border-color: #505471;
}

.header {
    background-color: #505471;
    color: white;
    vertical-align: middle;
    height: 50px;
    align-content: center;
}
