doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Pushbot

    style
      include ../assets/email.css

  body(class="body")
    center(class="body")

      <!--[if mso]><table cellspacing="0" cellpadding="0" border="0" class="center-content-mso" align="center"><tr><td><![endif]-->

      div(class="center-content")
        table(class="container-outer")
          tr
            td(class="header" align="center") 
              | Task Status            
          tr
            td(class="container-inner")
              table(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr
                  td(class="content")
                    | Your task was canceled! Bummer.
          tr
            td(class="footer")
              | &copy; 2018

      <!--[if mso]></td></tr></table><![endif]-->